# Data Engineering 1: Graded Lab 01 - Solution
---------------

#### Grading
For this graded lab you can get a total of 20 points. These 20 points count 10% of your final grade for the course.

#### Start
Start of the Graded Lab 01 is **Wednesday, March 30th at 23:55**.

#### Deadline
Deadline for the submission of the Graded Lab 01 is **Wednesday, April 13th at 23:59**.

#### Note
Check each result carefully. Use data filter, cleaning, and transformation methods wherever needed. The data can sometimes be really messy and have hidden issues.

#### Submission
You are allowed to submit the solution in groups of **two or three** students.
Submit your GradedLab01.ipynb file renamed to FirstnameStudent01LastnameStudent01_FirstnameStudent02LastnameStudent02_FirstnameStudent03LastnameStudent03.ipynb in moodle.   
Please submit a runnable python jupyter notebook file.
All other submissions will be rejected and graded with 0 points.

#### Task 01: Structured Data [8 points].    
The imdb.csv file contains a dataset extracted from IMDB with several attributes. For example, the title, plot, and the language of the movies. Read the imdb.csv file in a pandas dataframe and try to answer the following questions.

##### __(a)  What is the min, max, and the average value of the attribute 'rating' for all movies? [1 point].__

In [1]:
import pandas as pd

df = pd.read_csv('imdb.csv')
#filtering out all non movies entries
df = df[df["kind"].isin(["tv series"])==False] 
df = df[df["kind"].isin(["tv mini series"])==False]
#Getting the min,max,avg values
min_value = df['rating'].min()
max_value = df['rating'].max()
avg_value = df['rating'].mean()
print(min_value)
print(max_value)
print(avg_value)

#The max value in ratings is 9.3, the minimum rating is 8.1 and the average rating is 8.35.....

8.1
9.3
8.354639175257741

##### __(b) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' for all movies? [1 point].__

In [2]:
import pandas as pd

df = pd.read_csv('imdb.csv')
#filtering out all non movies entries
df = df[df["kind"].isin(["tv series"])==False]
df = df[df["kind"].isin(["tv mini series"])==False]
#Splitting string at 'space' to remove the ones containing a date
df[['cumulative worldwide gross','date']] = df["cumulative worldwide gross"].str.split(" ", 1, expand=True)
#Replace all non numeric characters
df['cumulative worldwide gross'] = df['cumulative worldwide gross'].str.replace(r'\D','')
#Turning the string type to int type
df['cumulative worldwide gross'] = pd.to_numeric(df['cumulative worldwide gross'])
min_value = df['cumulative worldwide gross'].min()
max_value = df['cumulative worldwide gross'].max()
avg_value = df['cumulative worldwide gross'].mean()
print(min_value)
print(max_value)
print(avg_value)

#The max value in cumulative worldwide gross is 2797800564, the minimum value is 6540000 and the average value is 390489624.68.....

6540000
2797800564
390489624.68041235

<ipython-input-2-ed49ee337aa2>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cumulative worldwide gross'] = df['cumulative worldwide gross'].str.replace(r'\D','')

##### __(c) What is the min, max, and the average value of the attribute 'cumulative worldwide gross' grouped by genre of the movies? [1 point].__

In [3]:
import pandas as pd

df = pd.read_csv('imdb.csv')
#filtering out all non movies entries
df = df[df["kind"].isin(["tv series"])==False]
df = df[df["kind"].isin(["tv mini series"])==False]
#Splitting string at 'space' to remove the ones containing a date
df[['cumulative worldwide gross','date']] = df["cumulative worldwide gross"].str.split(" ", 1, expand=True)
#Replace all non numeric characters
df['cumulative worldwide gross'] = df['cumulative worldwide gross'].str.replace(r'\D','')
#Turning the string type to int type
df['cumulative worldwide gross'] = pd.to_numeric(df['cumulative worldwide gross'])
df_max = df.groupby(['genres'], sort=False)['cumulative worldwide gross'].max()
df_min = df.groupby(['genres'], sort=False)['cumulative worldwide gross'].min()
#Surpressing scientific notation in 'mean' and rounding
pd.options.display.float_format = '{:.2f}'.format
df_avg = df.groupby(['genres'], sort=False)['cumulative worldwide gross'].mean()

print(df_min,df_max,df_avg)

genres
['Drama']                                                                             7390108
['Crime', 'Drama']                                                                   65884703
['Action', 'Crime', 'Drama', 'Thriller']                                            180949045
['Biography', 'Drama', 'History']                                                   187733202
['Drama', 'Romance']                                                                 15992615
['Action', 'Adventure', 'Sci-Fi', 'Thriller']                                       825532764
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']                                        165800000
['Action', 'Sci-Fi']                                                                315000000
['Crime', 'Drama', 'Mystery', 'Thriller']                                            34449356
['Crime', 'Drama', 'Thriller']                                                       14831693
['Drama', 'War']                                                                    481840909
['Crime', 'Drama', 'Fantasy', 'Mystery']                                            286801374
['Adventure', 'Drama', 'Sci-Fi']                                                    675020017
['Adventure', 'Comedy', 'Sci-Fi']                                                   381109762
['Animation', 'Adventure', 'Drama', 'Family', 'Musical']                            968483777
['Action', 'Adventure', 'Drama']                                                    457640427
['Drama', 'Mystery', 'Thriller']                                                    109676311
['Drama', 'Music']                                                                   48982041
['Mystery', 'Thriller']                                                              36888916
['Action', 'Adventure']                                                             389925971
['Drama', 'Western']                                                                159157447
['Animation', 'Adventure', 'Family', 'Sci-Fi']                                      534767889
['Action', 'Adventure', 'Sci-Fi']                                                  2048709917
['Action', 'Crime', 'Drama']                                                        120000000
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Sci-Fi']       375540831
['Biography', 'Drama', 'History', 'War']                                            210409945
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy']                           373554033
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Music', 'Mystery']       807082196
['Action', 'Adventure', 'Drama', 'Sci-Fi']                                         2797800564
['Drama', 'Romance', 'Sci-Fi']                                                       73169222
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family']                             731342744
['Action', 'Thriller']                                                              140767956
['Biography', 'Comedy', 'Drama', 'Music']                                           322720649
['Biography', 'Comedy', 'Crime', 'Drama']                                           392000694
['Biography', 'Drama']                                                              313542341
['Comedy', 'Drama']                                                                 140000000
['Animation', 'Adventure', 'Comedy', 'Family']                                      936743261
['Action', 'Drama', 'Sci-Fi', 'Thriller']                                           132511035
['Drama', 'History', 'Romance', 'War']                                              400176459
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family', 'Fantasy']                  857611174
['Horror', 'Mystery', 'Sci-Fi']                                                       7821228
['Crime', 'Thriller']                                                                 6540000
['Action', 'Drama', 'Sport']                                                         24215385
['Drama', 'Sport']                                                                  216763646
['Biography', 'Crime', 'Drama']                                                      98275238
['Adventure', 'Comedy', 'Crime']                                                    174600318
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy']                 494878759
['Comedy', 'Crime']                                                                  46189568
['Adventure', 'Thriller']                                                           470653000
['Adventure', 'Biography', 'Drama']                                                  56255142
['Horror']                                                                          441306145
['Animation', 'Action', 'Adventure', 'Family']                                      631442092
['Action', 'Adventure', 'Fantasy']                                                  654264015
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Musical', 'Romance']     504050219
['Animation', 'Family', 'Fantasy', 'Musical', 'Romance']                            424967620
['Adventure', 'Drama', 'Western']                                                   424200000
Name: cumulative worldwide gross, dtype: int64 genres
['Drama']                                                                           226200000
['Crime', 'Drama']                                                                  245066411
['Action', 'Crime', 'Drama', 'Thriller']                                           1004558444
['Biography', 'Drama', 'History']                                                   221000000
['Drama', 'Romance']                                                                677945399
['Action', 'Adventure', 'Sci-Fi', 'Thriller']                                      1029153882
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']                                        775398007
['Action', 'Sci-Fi']                                                                463517383
['Crime', 'Drama', 'Mystery', 'Thriller']                                           327311859
['Crime', 'Drama', 'Thriller']                                                     1074251311
['Drama', 'War']                                                                    481840909
['Crime', 'Drama', 'Fantasy', 'Mystery']                                            286801374
['Adventure', 'Drama', 'Sci-Fi']                                                    675020017
['Adventure', 'Comedy', 'Sci-Fi']                                                   381109762
['Animation', 'Adventure', 'Drama', 'Family', 'Musical']                            968483777
['Action', 'Adventure', 'Drama']                                                    457640427
['Drama', 'Mystery', 'Thriller']                                                    672806292
['Drama', 'Music']                                                                   48982041
['Mystery', 'Thriller']                                                             294804195
['Action', 'Adventure']                                                             474171806
['Drama', 'Western']                                                                425368238
['Animation', 'Adventure', 'Family', 'Sci-Fi']                                      534767889
['Action', 'Adventure', 'Sci-Fi']                                                  2048709917
['Action', 'Crime', 'Drama']                                                       1084939099
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Sci-Fi']       375540831
['Biography', 'Drama', 'History', 'War']                                            210409945
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy']                          1068879522
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Music', 'Mystery']       807082196
['Action', 'Adventure', 'Drama', 'Sci-Fi']                                         2797800564
['Drama', 'Romance', 'Sci-Fi']                                                       73169222
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family']                             731342744
['Action', 'Thriller']                                                              140767956
['Biography', 'Comedy', 'Drama', 'Music']                                           322720649
['Biography', 'Comedy', 'Crime', 'Drama']                                           392000694
['Biography', 'Drama']                                                              313542341
['Comedy', 'Drama']                                                                 264118201
['Animation', 'Adventure', 'Comedy', 'Family']                                      936743261
['Action', 'Drama', 'Sci-Fi', 'Thriller']                                           619021436
['Drama', 'History', 'Romance', 'War']                                              400176459
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family', 'Fantasy']                  857611174
['Horror', 'Mystery', 'Sci-Fi']                                                       7821228
['Crime', 'Thriller']                                                                36000000
['Action', 'Drama', 'Sport']                                                         24215385
['Drama', 'Sport']                                                                  225000000
['Biography', 'Crime', 'Drama']                                                     352114312
['Adventure', 'Comedy', 'Crime']                                                    174600318
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy']                 494878759
['Comedy', 'Crime']                                                                  46189568
['Adventure', 'Thriller']                                                           470653000
['Adventure', 'Biography', 'Drama']                                                  56255142
['Horror']                                                                          441306145
['Animation', 'Action', 'Adventure', 'Family']                                      631442092
['Action', 'Adventure', 'Fantasy']                                                  654264015
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Musical', 'Romance']     504050219
['Animation', 'Family', 'Fantasy', 'Musical', 'Romance']                            424967620
['Adventure', 'Drama', 'Western']                                                   424200000
Name: cumulative worldwide gross, dtype: int64 genres
['Drama']                                                                           86592888.50
['Crime', 'Drama']                                                                 174959958.67
['Action', 'Crime', 'Drama', 'Thriller']                                           592753744.50
['Biography', 'Drama', 'History']                                                  204366601.00
['Drama', 'Romance']                                                               235617862.25
['Action', 'Adventure', 'Sci-Fi', 'Thriller']                                      927343323.00
['Action', 'Adventure', 'Fantasy', 'Sci-Fi']                                       396371536.33
['Action', 'Sci-Fi']                                                               389258691.50
['Crime', 'Drama', 'Mystery', 'Thriller']                                          152526210.50
['Crime', 'Drama', 'Thriller']                                                     364660089.20
['Drama', 'War']                                                                   481840909.00
['Crime', 'Drama', 'Fantasy', 'Mystery']                                           286801374.00
['Adventure', 'Drama', 'Sci-Fi']                                                   675020017.00
['Adventure', 'Comedy', 'Sci-Fi']                                                  381109762.00
['Animation', 'Adventure', 'Drama', 'Family', 'Musical']                           968483777.00
['Action', 'Adventure', 'Drama']                                                   457640427.00
['Drama', 'Mystery', 'Thriller']                                                   383937655.33
['Drama', 'Music']                                                                  48982041.00
['Mystery', 'Thriller']                                                            123805402.33
['Action', 'Adventure']                                                            432048888.50
['Drama', 'Western']                                                               292262842.50
['Animation', 'Adventure', 'Family', 'Sci-Fi']                                     534767889.00
['Action', 'Adventure', 'Sci-Fi']                                                 2048709917.00
['Action', 'Crime', 'Drama']                                                       526385924.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Sci-Fi']      375540831.00
['Biography', 'Drama', 'History', 'War']                                           210409945.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy']                          657243157.25
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Music', 'Mystery']      807082196.00
['Action', 'Adventure', 'Drama', 'Sci-Fi']                                        2797800564.00
['Drama', 'Romance', 'Sci-Fi']                                                      73169222.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family']                            731342744.00
['Action', 'Thriller']                                                             140767956.00
['Biography', 'Comedy', 'Drama', 'Music']                                          322720649.00
['Biography', 'Comedy', 'Crime', 'Drama']                                          392000694.00
['Biography', 'Drama']                                                             313542341.00
['Comedy', 'Drama']                                                                202059100.50
['Animation', 'Adventure', 'Comedy', 'Family']                                     936743261.00
['Action', 'Drama', 'Sci-Fi', 'Thriller']                                          375766235.50
['Drama', 'History', 'Romance', 'War']                                             400176459.00
['Animation', 'Adventure', 'Comedy', 'Drama', 'Family', 'Fantasy']                 857611174.00
['Horror', 'Mystery', 'Sci-Fi']                                                      7821228.00
['Crime', 'Thriller']                                                               21270000.00
['Action', 'Drama', 'Sport']                                                        24215385.00
['Drama', 'Sport']                                                                 220881823.00
['Biography', 'Crime', 'Drama']                                                    225194775.00
['Adventure', 'Comedy', 'Crime']                                                   174600318.00
['Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy']                494878759.00
['Comedy', 'Crime']                                                                 46189568.00
['Adventure', 'Thriller']                                                          470653000.00
['Adventure', 'Biography', 'Drama']                                                 56255142.00
['Horror']                                                                         441306145.00
['Animation', 'Action', 'Adventure', 'Family']                                     631442092.00
['Action', 'Adventure', 'Fantasy']                                                 654264015.00
['Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy', 'Musical', 'Romance']    504050219.00
['Animation', 'Family', 'Fantasy', 'Musical', 'Romance']                           424967620.00
['Adventure', 'Drama', 'Western']                                                  424200000.00
Name: cumulative worldwide gross, dtype: float64

<ipython-input-3-355bfeb9d3f2>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cumulative worldwide gross'] = df['cumulative worldwide gross'].str.replace(r'\D','')

##### __(d) What is the profit (defined as cumulative worldwide gross - budget) of each movie? [1 point].__

In [4]:
import pandas as pd

df = pd.read_csv('imdb.csv')
#filtering out all non movies entries
df = df[df["kind"].isin(["tv series"])==False]
df = df[df["kind"].isin(["tv mini series"])==False]
#Splitting string at 'space' to remove the ones containing a date
df[['cumulative worldwide gross','date']] = df["cumulative worldwide gross"].str.split(" ", 1, expand=True)
df[['budget','unwanted']] = df["budget"].str.split(" ", 1, expand=True)
df['cumulative worldwide gross'] = df['cumulative worldwide gross'].str.replace(r'\D','')
df['budget'] = df['budget'].str.replace(r'\D','')
df['cumulative worldwide gross'] = pd.to_numeric(df['cumulative worldwide gross'])
df['budget'] = pd.to_numeric(df['budget'])
df['profit'] = df['cumulative worldwide gross']-df['budget']

df['profit']

<ipython-input-4-fa1953105e5f>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['cumulative worldwide gross'] = df['cumulative worldwide gross'].str.replace(r'\D','')
<ipython-input-4-fa1953105e5f>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['budget'] = df['budget'].str.replace(r'\D','')

0      33500000
1     239066411
2     819558444
3     199000000
4     205928762
        ...
92    514264015
93    476050219
94    399967620
95    191639112
96    402200000
Name: profit, Length: 97, dtype: int64

##### __(e)  What is the min, max, and the average value of the atttribute 'opening weekend united states' per month? [4 points].__

In [5]:
import pandas as pd

df = pd.read_csv('imdb.csv')
#Filtering all rows out that contain invalid value in opening weekend united states
df = df[df["opening weekend united states"].isin(["000000000"])==False]
df[['opening weekend united states','date']] = df["opening weekend united states"].str.split(" ", 1, expand=True)
#Cleaning the 'date' column from unwanted numerics
df['date'] = df['date'].str.replace('\d+', '')
#Cleaning column off unwanted characters
df['opening weekend united states'] = df['opening weekend united states'].str.replace(r'\D','')
df['opening weekend united states'] = pd.to_numeric(df['opening weekend united states'])
df_max = df.groupby(['date'], sort=False)['opening weekend united states'].max()
df_min = df.groupby(['date'], sort=False)['opening weekend united states'].min()
#Surpressing scientific notation in 'mean' and rounding
pd.options.display.float_format = '{:.2f}'.format
df_avg = df.groupby(['date'], sort=False)['opening weekend united states'].mean()

print(df_min,df_max,df_avg)

date
 Nov        99761
 Apr        12562
 Jul       137301
 Dec       179953
 Oct        64770
 Jun       340456
 Sep       212440
 Feb     13766814
 May     34819017
 Aug       645363
 Jan        15172
 Mar       235488
Name: opening weekend united states, dtype: int64 date
 Nov      70467623
 Apr     357115007
 Jul     160887295
 Dec      35363376
 Oct      96202337
 Jun     110307189
 Sep      20817053
 Feb      41062440
 May      68108790
 Aug      26681262
 Jan      17754905
 Mar      88411916
Name: opening weekend united states, dtype: int64 date
 Nov     18304484.83
 Apr    110242997.67
 Jul     41997361.79
 Dec     12879034.67
 Oct     19300409.25
 Jun     39295741.70
 Sep      7305612.70
 Feb     30245305.00
 May     51463903.50
 Aug     17097305.50
 Jan      7363771.25
 Mar     23604512.75
Name: opening weekend united states, dtype: float64

<ipython-input-5-265d092bb325>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['date'] = df['date'].str.replace('\d+', '')
<ipython-input-5-265d092bb325>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['opening weekend united states'] = df['opening weekend united states'].str.replace(r'\D','')

#### Task 02: Unstructured Data [12 points]. 
This time use the files imdb.csv from Task 01 and the imdb2.csv file. In this task we mainly use the content of the attribute 'plot' for the implementation of a retrieval system.

##### __(a)  Read the files imdb.csv and imdb2.csv in a dataframe called imdb. Add a column which is called 'plotterms' to each item. The new column should contain all terms (lower-case and cleaned from special characters) from the plot attribute which are not contained in the stopwords_english.txt file. [1 point]__

In [1]:
import pandas as pd
import re

imdb = pd.concat(map(pd.read_csv, ['imdb.csv','imdb2.csv']))

stopwords = open('stopwords_english.txt', encoding="utf8")
content = stopwords.read()
wordlist = content.split('\n') #list of words that the 'plot' should not contain
stopwords.close()
pat = '|'.join(r"\b{}\b".format(x) for x in wordlist)

imdb['plotterms'] = ''
imdb['plotterms'] = imdb['plot']
imdb['plotterms'] = imdb['plotterms'].str.lower()
imdb['plotterms'] = imdb['plotterms'].replace(r'[^\w\s]|_', '', regex=True) #All unwanted characters removed
imdb['plotterms'] = imdb['plotterms'].str.replace(pat,'') #Replacing all words from 'plotterms' column that are in the stopwords list

imdb

<ipython-input-1-203d1b78effb>:16: FutureWarning: The default value of regex will change from True to False in a future version.
  imdb['plotterms'] = imdb['plotterms'].str.replace(pat,'') #Replacing all words from 'plotterms' column that are in the stopwords list

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms
0,111161,movie,The Shawshank Redemption,['English'],['Drama'],9.3,Frank Darabont,"$58,500,000","$727,326, 20 Nov 1994","$25,000,000 (estimated)",Chronicles the experiences of a formerly succe...,chronicles experiences successful banker ...
1,68646,movie,The Godfather,"['English', 'Italian', 'Latin']","['Crime', 'Drama']",9.2,Francis Ford Coppola,"$245,066,411","$223,758, 04 Apr 1997","$6,000,000 (estimated)","The Godfather ""Don"" Vito Corleone is the head ...",godfather don vito corleone head corleone...
2,468569,movie,The Dark Knight,"['English', 'Mandarin']","['Action', 'Crime', 'Drama', 'Thriller']",9.1,Christopher Nolan,"$1,004,558,444, 19 Jul 2012","$158,411,483, 20 Jul 2008","$185,000,000 (estimated)",Set within a year after the events of Batman B...,set year events batman 2005 batman lieut...
3,108052,movie,Schindler's List,"['English', 'Hebrew', 'German', 'Polish', 'Lat...","['Biography', 'Drama', 'History']",9.0,Steven Spielberg,"$221,000,000","$566,760, 09 Dec 2018","$22,000,000 (estimated)",Oskar Schindler is a vain and greedy German bu...,oskar schindler vain greedy german business...
4,110912,movie,Pulp Fiction,"['English', 'Spanish', 'French']","['Crime', 'Drama']",8.9,Quentin Tarantino,"$213,928,762","$9,311,882, 14 Oct 1994","$8,000,000 (estimated)",Jules Winnfield (Samuel L. Jackson) and Vincen...,jules winnfield samuel jackson vincent vega ...
...,...,...,...,...,...,...,...,...,...,...,...,...
3,2267368,movie,Joshua Tree,['English'],['Drama'],6.6,Li Cheng,0,0,0,['Set in the U.S. heartland following the 2008...,set heartland 2008 economic collapse di...
4,13560124,movie,After America,"['English', 'Somali']","['Drama', 'Fantasy', 'Mystery']",4.5,Jake Yuzna,0,0,0,['A group of criminal justice de-escalation wo...,group criminal justice deescalation workers ...
5,5092484,movie,Beneath Us,"['English', 'Spanish']","['Horror', 'Thriller']",5.3,Max Pachman,0,0,0,['The American Dream becomes a nightmare for a...,american dream nightmare group undocumen...
6,2365001,movie,Immigrant,['English'],['Drama'],5.8,Barry Shurchin,0,0,0,['The coming of age story of a young Russian i...,coming age story young russian immigrant ...
7,373862,movie,Getno,"['Hungarian', 'English']",['Comedy'],4.0,András Salamon,0,0,0,"['Following the promise of the American Dream,...",promise american dream jancsi major fami...

##### __(b)  Create an inverted index for the terms in the 'plotterms' column. Use a datastructure of your choice for the implementation [1 point]__

In [2]:
unique_words = set(' '.join([plotterms for plotterms in imdb['plotterms']]).split())
inverted_index = {}
for word in unique_words:
    inverted_index[word] = []
    index = 0
    for plotterm in imdb['plotterms']:
        if word in plotterm:
            inverted_index[word].append(index)
        index += 1

##### __(c) Take the inverted index and create the posting list for the query 'american'. Return the posting list as well as the top5 items scored by the rating attribute. [1 point]__

In [17]:
american = imdb.iloc[inverted_index['american']]
american = american.sort_values(by=('rating'), ascending = False)
display(american.head(5))
posting_list = inverted_index['american']
print(posting_list)

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms
102,306414,tv series,The Wire,"['English', 'Greek', 'Mandarin', 'Spanish']","['Crime', 'Drama', 'Thriller']",9.3,NaN,000000000,000000000,000000000,"['The Baltimore drug scene, as seen through th...",baltimore drug scene eyes drug dealers ...
116,1877514,tv mini series,The Vietnam War,['English'],"['Documentary', 'History', 'War']",9.1,NaN,000000000,000000000,000000000,"[""A comprehensive history of the United States...",comprehensive history united involvement ...
135,98769,tv mini series,The Civil War,['English'],"['Documentary', 'History', 'War']",9.0,NaN,000000000,000000000,000000000,['A comprehensive survey of the American Civil...,comprehensive survey american civil war hi...
18,88763,movie,Back to the Future,['English'],"['Adventure', 'Comedy', 'Sci-Fi']",8.6,Robert Zemeckis,"$381,109,762","$11,332,134, 07 Jul 1985","$19,000,000 (estimated)","Marty McFly, a typical American teenager of th...",marty mcfly typical american teenager eight...
23,407887,movie,The Departed,"['English', 'Cantonese']","['Crime', 'Drama', 'Thriller']",8.5,Martin Scorsese,"$289,847,354","$26,887,467, 08 Oct 2006","$90,000,000 (estimated)","In this crime-action tour de force, the South ...",crimeaction tour force south boston polic...

[18, 23, 53, 68, 69, 77, 91, 102, 116, 135, 159, 160, 161, 162, 163, 164, 165, 166]

##### __(d) Take the inverted index and create the posting lists for the query terms 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot). Your merging algorithm should be efficient and reduce the number of comparison to a minimum. Don't use existing python methods (like intersect or in) for the merge algorithm. Return the merged posting list as well as the top5 items scored by the rating attribute. [3 points]__

In [20]:
american = inverted_index['american']
dream = inverted_index['dream']
#Merging
def common_index(term1, term2):
    set1 = set(term1)
    set2 = set(term2)
    if (set1 & set2):
        combined = (set1 & set2)
        combined = list(combined)
    return combined

posting_list = common_index(american,dream)
american_dream = imdb.iloc[posting_list]
american_dream = american_dream.sort_values(by=('rating'), ascending = False)
display(american_dream.head(5))
print(posting_list)

,id,kind,title,languages,genres,rating,director,cumulative worldwide gross,opening weekend united states,budget,plot,plotterms
2,2069861,movie,My Favorite Movie,['English'],"['Comedy', 'Family']",8.4,Martin Rogers,0,0,0,['Dave has the American Dream and hates it. Hi...,dave american dream hates eccentric frien...
0,120669,movie,Fear and Loathing in Las Vegas,['English'],"['Adventure', 'Comedy', 'Drama']",7.5,Terry Gilliam,0,0,0,['An oddball journalist and his psychopathic l...,oddball journalist psychopathic lawyer trav...
1,1343092,movie,The Great Gatsby,['English'],"['Drama', 'Romance']",7.2,Baz Luhrmann,0,0,0,"['A writer and wall street trader, Nick, finds...",writer wall street trader nick finds drawn ...
3,2267368,movie,Joshua Tree,['English'],['Drama'],6.6,Li Cheng,0,0,0,['Set in the U.S. heartland following the 2008...,set heartland 2008 economic collapse di...
6,2365001,movie,Immigrant,['English'],['Drama'],5.8,Barry Shurchin,0,0,0,['The coming of age story of a young Russian i...,coming age story young russian immigrant ...

[160, 161, 162, 163, 164, 165, 166, 159]

##### __(e) Extend your index to be able to rank the resulting items from Task 2d by the occurrence of search terms in the plotterms. Execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) again and print the resulting items.  [2 points]__

##### __(f) Use the TF-IDF score and the cosine similarity to execute the query 'american' and 'dream' (the term 'american' as well as the term 'dream' should be contained in the plot) against all plots in the collection. Print the results with the corresponding ranking score. Also execute the query 'american' or 'dream' (the term 'american' or the term 'dream' should be contained in the plot).  [4 points]__